@import "tailwindcss";


@layer base {

    * {
        filter: none !important;
        backdrop-filter: none !important;
        transform: none !important;
    }


    :root {
        --nav-bg: black;
        --bg: black;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        @apply text-4xl;
    }
    
    button {
        cursor: pointer;
    }
}

@layer utilities {

    .floating {
        @apply absolute z-10 bottom-20 right-5;
    }

    .floating-button {
        @apply w-14 h-14 rounded-full bg-teal-600 text-3xl cursor-pointer text-white shadow-lg shadow-zinc-400 grid place-items-center;
    }
}